# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

._*
.AppleDouble
.smbdelete*
*DS_Store
/.vscode/c_cpp.db
/build
/data
/hash
/lib/include_gcc_x86_64-linux-gnu
/lib/include_linux
/lib/include_linux_arch_x86
/lib/include_usr
/lib/test
/util/debugfs
/util/fsck
/util/mkfs
a.out
tempCodeRunnerFile
.swp
/uml
